.buttons {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 1fr;
    gap: 10px;
}

.btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 1.7rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
}

.btn:active {
    transform: scale(0.85);
}
