/* 기본 배경 색상 (라이트 모드) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* 다크 모드 설정 */
body.dark-mode {
    background-color: black;
    color: white;
}

/* 버튼 스타일 */
.buttons {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 1fr;
    gap: 10px;
}

.btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 1.7rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
}

.btn:active {
    transform: scale(0.85);
}

/* 다크 모드 버튼 색상 변경 */
.dark-mode .btn {
    background-color: #333;
    color: white;
}

.dark-mode .btn.orange {
    background-color: #ff9500;
}

.dark-mode .btn.gray {
    background-color: #a5a5a5;
    color: black;
}
